//- review

mixin review(options = {})
  .review
    .review__cover
      img(src="img/avatar-1.svg", alt="" ).review__image
    .review__content
      p.review__title Виктор Сергеев, беседка в Красногорске
      p.review__text В 2019 году я сдал ОГЭ по английскому языку на 5! Хочу выразить большую благодарность Марине Леонидовне за помощь в подготовке к экзамену. На данный момент я готовлюсь к ЕГЭ по английскому. Уверен, с такой опорой у меня всё получится!