//- catalog

mixin catalog(options = {})
  .catalog
    .grid.is-row
      .col-12
        .catalog__section
          a(href="/products-list.html").catalog__item
            img(src="img/barrel-image-1.jpg", alt="").catalog__image
            p.catalog__text Бочки-бани
      .col-6
        .catalog__section
          a(href="/products-list.html").catalog__item
            img(src="img/barrel-image-1.jpg", alt="").catalog__image
            p.catalog__text Бочки-бани
      .col-6
        .catalog__section
          a(href="/products-list.html").catalog__item
            img(src="img/barrel-image-1.jpg", alt="").catalog__image
            p.catalog__text Бочки-бани
      .col-6
        .catalog__section
          a(href="/products-list.html").catalog__item
            img(src="img/barrel-image-1.jpg", alt="").catalog__image
            p.catalog__text Бочки-бани
      .col-6
        .catalog__section
          a(href="/products-list.html").catalog__item
            img(src="img/barrel-image-1.jpg", alt="").catalog__image
            p.catalog__text Бочки-бани
      .col-12
        .catalog__section
          a(href="/products-list.html").catalog__item
            img(src="img/barrel-image-1.jpg", alt="").catalog__image
            p.catalog__text Бочки-бани
      .col-6
        .catalog__section
          a(href="/products-list.html").catalog__item
            img(src="img/barrel-image-1.jpg", alt="").catalog__image
            p.catalog__text Бочки-бани
      .col-6
        .catalog__section
          a(href="/products-list.html").catalog__item
            img(src="img/barrel-image-1.jpg", alt="").catalog__image
            p.catalog__text Бочки-бани
        
    