//- products
include /components/product/product
include /components/tabs/tabs
include /components/stock/stock
include /components/pagination/pagination

mixin products(options = {}) 
  .products
    +tabs
    +pagination