/**
* button
*/

.button {
  $this: &;

  display: inline-block;
  padding: 14px 22px;
  position: relative;
  z-index: 0;
  color: $white;
  border-radius: 100px;
  background-color: $accent;
  border: none;
  font-weight: $medium;
  font-style: normal;
  font-family: $ff;
  font-size: 18px;
  line-height: 21px;
  vertical-align: top;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  will-change: background-color;
  transition: ease background-color 0.3s;
  cursor: pointer;

  & + & {
    margin-left: 15px;
  }
  &:hover {
    background-color: darken($accent, 20);
  }

  &[disabled] {
    opacity: 0.3 !important;
    pointer-events: none;
  }

  &.is-product {
   
  }

  &.is-detailed {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    padding: 20px 34px;
    text-transform: none;
  }

  &.is-send {
    width: 100%;
    margin-bottom: 18px;
  }

  &.is-call {
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
  }

  &.unfill {
    background: none;    
    padding: 14px 75px;
    color: $accent;
    border: 1px solid $accent;
    transition: ease background-color 0.3s;

    &:hover {
      color: $white;
      background-color: $accent;
    }

    &.look-all {
      margin-left: 471px;
      margin-top: 10px;
      padding: 14px 58px;
    }
  }

  &.is-order {
    width: 310px;
    margin: 0;
  }

  &.is-main {
    padding: 14px 75px;
  }

  
}
