/**
* phone
*/

.phone {
  $this: &;

  margin-right: 25px;

  &__list {
    list-style: none;
    margin: 0;
  }

  &__item {
    margin-bottom: 4px;
  }

  &__number {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    width: 115px;
    text-align: end;
  }
}
