//- stock

mixin stock(options = {})
  a(href="").stock
    .stock__cover
      img(src="/img/stock.jpg", alt="").stock__image
    .stock__wrapper
      p.stock__text Специальные условия <br> для пенсионеров