//- advantages

mixin advantages(options = {})
  .advantages
    .advantages__section
      .advantages__item
        img(src="img/advantage-1.svg", alt="").advantages__image
        p.advantages__text Быстрый прогрев и сохранение тепла
      .advantages__item
        img(src="img/advantage-2.svg", alt="").advantages__image        
        p.advantages__text Компактность <br> и эстетичность       
      .advantages__item
        img(src="img/advantage-3.svg", alt="").advantages__image        
        p.advantages__text Мобильность <br> и транспортировка
      .advantages__item
        img(src="img/advantage-4.svg", alt="").advantages__image        
        p.advantages__text Быстрая установка         