//- delivery

mixin delivery(options = {})
  .delivery
    .grid.is-row
      .col-9
        p.delivery__text Наша компания занимается изготовлением бань эконом-класса. Основной заказчик — люди, желающие получить высокое качество изделия при небольших затратах. Поверьте, попарившись в такой бане, вам не захочется больше отказывать себе в маленьких удовольствиях    
        p.delivery__text Распространение бань-бочек началось от финнов, где знают толк в банях. Постоянный поиск современных технологий и истинных качеств дерева позволили создать недорогую баню, максимально компактную внешне и довольно просторную внутри. А наши специалисты помогут Вам воплотить свое видение бани в реальность
        p.delivery__text Наше производство находится на закрытой территории в теплом цеху, что-бы ничто не отвлекало от атмосферы создания уюта и тепла, которое мы передадим Вам. Каждая баня получает комплекс влаго, огне-биозащиты, цвет внешней пропитки под благородное дерево предварительно согласовывается с Вами.