//- about-text

mixin about-text(options = {})
  .about-text
    p.about-text__text Наша компания занимается изготовлением бань <i><img src="img/about-icon-1.svg" alt=""></i>эконом-класса для людей, которые желают получить высокое качество при небольших затратах <i><img class="about-text__image" src="img/about-icon-2.svg" alt=""></i>. Попарившись в такой бане, вы больше не сможете отказывать себе в маленьких удовольствиях.