//- contact

mixin contact(options = {})
  .contact
    .contact__addresses
      p.contact__address г. Смоленск
      p.contact__title пос. Тихвинка, 69
      p.contact__title пос. Тихвинка 10
      p.contact__subtitle (рядом с оптовым продуктовым рынком <br> и остановкой Аэропорт)
    .contact__phones
      p.contact__phone +8 (920) 338 91 69
      p.contact__phone +8 (800) 201 42 91
      p.contact__phone 510-110
    .contact__emails      
      a(href="#").contact__email info@smallbani.ru