//- about-us

mixin about-us(options = {})
  .about-us
    .grid.is-row
      .col-3
        .about-us__box
          img(src="img/solution-1.svg", alt="").about-us__image
          p.about-us__description Опыт в деревообработке с 1999 года
      .col-3
        .about-us__box
          img(src="img/solution-2.svg", alt="").about-us__image
          p.about-us__description Контроль качества на всех стадиях производства
      .col-3
        .about-us__box
          img(src="img/solution-3.svg", alt="").about-us__image
          p.about-us__description Гарантия надежнос­ти и долговечности от производителя
      .col-3
        .about-us__box
          img(src="img/solution-4.svg", alt="").about-us__image
          p.about-us__description 1000 доволь­ных покупателей по всей России      
      .col-6
        ul.about-us__list
          li.about-us__item
            p.about-us__text Крупнейший завод-изготовитель бань-бочек в Башкирии. Общая площадь цехов (заготовочный, столярный, цех металлообработки, сборочный участок) составляет порядка двух с половиной тысяч квадратных метров;
          li.about-us__item
            p.about-us__text Собственная производственная линейка, созданная профессионалами с огромным опытом создания деревообрабатывающего оборудования;
          li.about-us__item
            p.about-us__text Специальная конструкция, учитывающая особенности древесины <br> в климатических условиях России;
          li.about-us__item
            p.about-us__text Оборудование собственного производства, позволяющее изготавливать качественные бани быстро и недорого;
          li.about-us__item
            p.about-us__text Низкая цена, за счет высокой заводской производительности;
          li.about-us__item
            p.about-us__text Постоянный контроль качества выпускаемой продукции;
          li.about-us__item
            p.about-us__text Постоянная модернизация оборудования и улучшение конструкции бань-бочек, чтобы сделать бани еще более качественными и недорогими;
          li.about-us__item
            p.about-us__text Доступность продукции по всей России.
      .col-6
        .about-us__container
          img(src="img/solution-6.svg", alt="").about-us__image.is-big
          p.about-us__description Наше производство находится на закрытой <br> территории в теплом цеху, что-бы ничто не <br> отвлекало от атмосферы создания уюта и тепла, которое мы передадим Вам. Каждая баня получает комплекс влаго, огне-биозащиты, цвет внешней пропитки под благородное дерево предварительно согласовывается с Вами.
