//- stok-small

mixin stock-small(options = {})
  a(href="/specials.html" class=options.className).stock-small
    .stock-small__cover
      img(src="/img/stock-small.jpg", alt="").stock-small__image
    .stock-small__wrapper
      p.stock-small__text Специальные условия <br> для пенсионеров
