//- map

mixin map(options = {})
  .map
    iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2302.4599650976065!2d32.07341093168262!3d54.75429915772847!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46ce586237e58bd1%3A0xc254142b9b196489!2z0YPQuy4g0KLQuNGF0LLQuNC90LrQsCwgMTAsINCh0LzQvtC70LXQvdGB0LosINCh0LzQvtC70LXQvdGB0LrQsNGPINC-0LHQuy4sIDIxNDAxOQ!5e0!3m2!1sru!2sru!4v1601284416006!5m2!1sru!2sru" width="1170" height="543" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0")